html, body {
  margin: 0;
}
header {
  height: 80px;
  background-color: rgb(40, 153, 17);
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
  padding: 0 1em;
}
header ul {

  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 5em;
}
header ul li button {
  background: none;
  border: none;
  outline: none;
  padding: 0 2em;
  font-size: 1.1em;
  color: white;
}
header ul li button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main {
  padding: 0em 5em;
  font-size: 1.1em;
}
#home {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
}
#home-text {
  width: 40%;
  
}
#home-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
#home-img img{
  width: 500px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form input{
  height: 25px;
}
